ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  border: 1px solid #999;
  float: left;
  height: 70px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.white-square {
  background-color: white;
}

.black-square {
  background-color: black;
}

.piece {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.blue-piece {
  background-color: yellow;
}

.red-piece {
  background-color: red;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.highlight {
  background-color: rgba(34, 255, 255, 0.5);
  max-width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  border: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  cursor: pointer;
}

.king {
}
